<div class="loading-screen load-active d-flex justify-content-around align-items-center">
  <div class="loader"></div>
</div>
<div class="app-container display-container">
  <%= link_to :back do %>
    <div class="btn-circle">
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
  <div class="form-container js-mission">
    <div class="mission-builder-form">
      <div class="js-map map"></div>

      <div class="form-cards">
        <% @display_tasks.each do |location_task_id| %>
          <% location_task = location_task_id[1][:location_task] %>
          <div class="js-task-location d-none" data-title="<%= location_task.title %>" data-location="<%= location_task.location %>"  data-latitude="<%= location_task.latitude %>" data-longitude="<%= location_task.longitude %>" data-task-id="<%= location_task.id %>">
            <% if location_task_id[1].key? :categories %>
              <% location_task_id[1][:categories].each do |category_and_tasks| %>
                <% category_and_tasks.each do |category, tasks| %>
                  <div class="js-category-card js-category d-none" data-category-name="<%= category.name %>">
                    <ul class="list-card">
                      <li class="list-item-title">
                        <h2><%= category.label %></h2>
                        <ul class="list">
                          <% tasks.each do |task| %>
                            <li class="list-item">
                              <div class="checkbox checkbox-mission">
                                <label class="label-mission">
                                  <%= simple_form_for task, method: :patch, remote: true do |f| %>
                                    <%= f.input :status, wrapper_html: { class: 'js-task-status js-checkbox checkbox-hidden' } %>
                                    <div class="checkbox-empty"></div>
                                    <div class="checkbox-tick d-none">
                                      <div class="tick-sm"></div>
                                      <div class="tick-lg"></div>
                                    </div>
                                  <% end %>
                                  <span><%= task.title %></span>
                                </label>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <div class="js-location-card d-none list-card">
              <h2><%= location_task_id[1][:location_task].title %></h2>
              <ul class="list">
                <li class="list-item">
                  <div class="checkbox checkbox-mission">
                    <label class="label-mission">
                      <%= simple_form_for location_task, method: :patch, remote: true do |f| %>
                        <%= f.input :status, wrapper_html: { class: 'js-task-status js-checkbox checkbox-hidden' } %>
                        <div class="checkbox-empty"></div>
                        <div class="checkbox-tick d-none">
                          <div class="tick-sm"></div>
                          <div class="tick-lg"></div>
                        </div>
                      <% end %>
                      <span><%= location_task.title %></span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="js-final-step list-card task-final d-none">
          <h1>Final Step</h1>
          This is the final step, congratulations!!
          <div class="form-actions mission-accept text-center">
            <%= link_to 'Finish', tasks_path, class: 'btn-submit' %>
          </div>
        </div>
      </div>
      <div class="form-actions mission-accept">
        <button class="js-next-btn btn-submit">Next</button>
      </div>
    </div>
  </div>
</div>
