<div class="app-container">
  <div class="container-body">
    <div class="cards">
      <h3>All Tasks</h3>

      <% @tasks_categories.sort.each do |category| %>
        <div class="card-category">
          <div class="card-top d-flex justify-content-between align-items-center">
            <h3><%= category[0].upcase %></h3>
            <div class="card-right">
              <span><%= category[1].count %></span>
            </div>
          </div>
          <ul class="list">
            <% category[1].each do |task| %>
              <li class="list-item">
                  <div class="list-item-left d-flex">
                    <div class="checkbox-box">
                      <label for="task_status[<%= task.id %>]">
                        <%= simple_form_for task, method: :patch, remote: true do |f| %>
                          <%= f.input :status, as: :boolean, input_html: { id: "task_status[#{task.id}]"}, wrapper_html: { class: 'js-task-status js-checkbox checkbox-hidden' } %>
                          <div class="checkbox-empty"></div>
                          <div class="checkbox-tick d-none">
                            <div class="tick-sm"></div>
                            <div class="tick-lg"></div>
                          </div>
                        <% end %>
                      </label>
                    </div>
                    <span><%= task.title %></span>
                  </div>
                  <i class="fas fa-chevron-right"></i>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
