<%= simple_form_for @task do |f| %>
  <%= f.input :title, label: false, placeholder: 'Title' %>
  <%= f.input :location, label: false, placeholder: 'Location' %>
  <div class="form-inline">
    <div class="row">
      <div class="col-6">
        <%= f.input :start_at, as: :string, label: false, placeholder: 'Start date' %>
      </div>
      <div class="col-6">
        <%= f.input :end_at, as: :string, label: false, placeholder: 'End date' %>
      </div>
    </div>
  </div>
  <%= f.input :due, as: :string, label: false, placeholder: 'Due by' %>
  <%= f.association :category, label: false, placeholder: 'Category' %>

  <div class="form-actions text-right">
    <%= f.submit class: 'btn-submit' %>
  </div>
<% end %>
